@media (min-width: 1280px) {
  .nav-item {
    color: white;
    width: 150px;
    margin: 0 20px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

    #nav-content {
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    .underline {
      height: 2px;
      width: 0;
      background-color: white;
      transition: width 0.3s ease-in-out;
    }

    .nav-sub-menu {
      display: none;
      position: absolute;
      top: 20;
      border-radius: 4px;
      background-color: white;
      padding: 8px 20px;
      transition: display 2s;

      .is-loading {
        width: 110px;
      }
    }
  }

  .nav-item:hover {
    .underline {
      width: 100%;
    }

    .nav-sub-menu {
      display: block;
    }
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .nav-item {
    color: white;
    width: 150px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

    #nav-content {
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    .underline {
      height: 2px;
      width: 0;
      background-color: white;
      transition: width 0.3s ease-in-out;
    }

    .nav-sub-menu {
      display: none;
      position: absolute;
      top: 20;
      border-radius: 4px;
      background-color: white;
      padding: 8px 20px;
      transition: display 2s;

      .is-loading {
        width: 110px;
      }
    }
  }

  .nav-item:hover {
    .underline {
      width: 100%;
    }

    .nav-sub-menu {
      display: block;
    }
  }
}

@media (max-width: 769px) {
  .nav-item {
    color: white;
    width: 150px;
    margin: 0 20px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

    #nav-content {
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    .underline {
      height: 2px;
      width: 0;
      background-color: white;
      transition: width 0.3s ease-in-out;
    }

    .nav-sub-menu {
      display: none;
      position: absolute;
      top: 20;
      border-radius: 4px;
      background-color: white;
      padding: 8px 20px;
      transition: display 2s;

      .is-loading {
        width: 110px;
      }
    }
  }

  .nav-item:hover {
    .underline {
      width: 100%;
    }

    .nav-sub-menu {
      display: block;
    }
  }
}
