@media (min-width: 1280px) {
  .nav-sub-menu-item {
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 0;
    width: 110px;
    text-align: center;
  }

  .nav-sub-menu-item:hover {
    color: red;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .nav-sub-menu-item {
    color: white;
    font-size: 28px;
    font-weight: 500;
    padding: 20px 40px;
    cursor: pointer;
    border-top: 1px solid rgb(133, 133, 133);
    width: 100%;
  }
}

@media (max-width: 769px) {
  .nav-sub-menu-item {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0 20px 60px;
    cursor: pointer;
    border-bottom: 1px solid rgb(133, 133, 133);
    width: 100%;
  }
}
