main {
  height: 2000px;

  #banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 720px;
    padding: 0 500px;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgb(172, 74, 103),
      rgb(237,200,148)
    );
      #banner {
        width: 100%;
        text-align: center;
    
        #banner-title {
          font-size: 100px;
          font-weight: 900;
          line-height: 110px;
          background: linear-gradient(
            to top, 
            rgb(173, 62, 95),
            rgb(228, 184, 122)
          );
          color: transparent;
          -webkit-background-clip: text;
        }

        #banner-btn-group {
          width: 100%;
          margin-top: 60px;
          display: flex;
          justify-content: center;

          .banner-btn {
            width: 200px;
            background-color: rgb(99, 255, 203);
            height: 50px;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
            border-radius: 40px;
            transition: background-color 0.2s ease-in-out;
            border: 1px solid rgb(99, 255, 203);
          }

          .banner-btn:last-child {
            margin-left: 40px;
            background-color: transparent;
          }

          .banner-btn:hover {
            background-color: rgb(60, 233, 175);
          }
        }
      }
  }
}

