@media (min-width: 1280px) {
  .header-space {
    width: 100%;
    height: 132px;
    background-image: linear-gradient(
      to bottom,
      rgb(172, 74, 103),
      rgb(237, 200, 148)
    );
  }

  #confirm-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .confirm-background {
      background-color: black;
      width: 100%;
      height: 100%;
      opacity: 0.1;
    }

    .confirm-wrapper {
      position: relative;
      width: 408px;
      border-radius: 8px;
      background-color: white;
      padding: 40px 28px 20px 28px;
      position: fixed;
      align-items: center;

      .close-btn {
        cursor: pointer;
        position: absolute;
        width: 40px;
        border: none;
        font-size: 20px;
        right: 10px;
        top: 10px;
        background-color: white;
        padding: 4px;
        color: rgb(121, 121, 121);
        font-weight: 900;
        border-radius: 40px;
      }

      .close-btn:hover {
        background-color: rgb(211, 211, 211);
      }

      .confirm-title {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .confirm-group-btn {
        display: flex;
        justify-content: center;

        .confirm-btn {
          cursor: pointer;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 500;
          border: 1px solid rgb(223, 223, 223);
          padding: 12px 40px;
        }

        .confirm-btn:hover {
          background-color: rgb(223, 223, 223);
        }

        .cancel-btn {
          cursor: pointer;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 500;
          border: 1px solid rgb(223, 223, 223);
          padding: 12px 40px;
          margin-left: 40px;
        }

        .cancel-btn:hover {
          background-color: rgb(223, 223, 223);
        }
      }
    }
  }

  #product-detail {
    display: flex;
    padding: 40px 100px;
    background-color: antiquewhite;

    #product-image {
      width: 600px;
      margin-right: 40px;

      #product-main-image {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 12px;
      }

      #sub-images-group-wrapper {
        display: flex;
        justify-content: center;

        #sub-images-group {
          width: 100%;
          display: flex;
          justify-content: space-evenly;

          .product-sub-image {
            margin: 1px;
            width: 90%;
            transition: border 5s;
            border-radius: 4px;
          }

          .product-sub-image:hover {
            cursor: pointer;
            margin: 0;
            border: 1px groove black;
          }
        }
      }
    }

    #product-statistics {
      flex: 1 1 0%;
      border-radius: 12px;
      background: linear-gradient(
        to bottom,
        rgb(230, 208, 178),
        rgb(255, 201, 124)
      );
      padding: 40px;

      .price-wrapper {
        display: flex;
        align-items: center;

        .origin-price {
          color: rgb(148, 148, 148);
          margin-top: 4px;
          display: flex;
          justify-content: center;
          font-size: 20px;
          margin-right: 12px;
          text-decoration: line-through;
          display: flex;
        }

        .shoe-price {
          color: rgb(255, 65, 65);
          margin-top: 32px;
          display: flex;
          justify-content: center;
          font-size: 24px;
          display: flex;
        }

        .shoe-price-only {
          color: rgb(255, 65, 65);
          margin-top: 4px;
          display: flex;
          justify-content: center;
          font-size: 24px;
          display: flex;
        }
      }

      .product-name {
        font-size: 32px;
        font-weight: 500;
      }

      .star-wrapper {
        width: 200px;
        margin-bottom: 40px;
      }

      .product-price {
        font-size: 32px;
        font-weight: 700;
        color: rgb(255, 51, 51);
        margin-bottom: 40px;
      }

      .product-size-group {
        border-top: 1px solid black;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 40px 0 20px 0;

        .size-choose {
          width: 40px;
          height: 40px;
          margin-right: 40px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          border-radius: 4px;
          background: linear-gradient(
            to bottom,
            rgb(177, 252, 202),
            rgb(42, 226, 103)
          );
        }

        .product-size {
          width: 40px;
          height: 40px;
          margin-right: 40px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          border-radius: 4px;
          background: linear-gradient(
            to bottom,
            rgb(231, 214, 188),
            rgb(243, 170, 68)
          );
        }

        .product-size:hover {
          background: linear-gradient(
            to bottom,
            rgb(177, 252, 202),
            rgb(42, 226, 103)
          );
        }

        .size-error {
          color: red;
          font-size: 16px;
        }
      }

      .product-quantity {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
      }

      .product-buy-quantity {
        display: flex;
        height: 60px;

        .fix-quantity-btn {
          width: 40px;
          height: 100%;
          background-color: antiquewhite;
          cursor: pointer;
          border: none;
        }

        .buy-quantity {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgb(255, 179, 73);
          width: 80px;
          height: 100%;
          cursor: pointer;
          background-color: antiquewhite;
        }
      }

      .buy-btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .cart-btn {
          width: 45%;
          cursor: pointer;
          font-weight: 900;
          font-size: 16px;
          color: rgb(77, 76, 76);
          height: 60px;
          margin-top: 160px;
          border-radius: 40px;
          background-color: rgb(255, 218, 165);
          border: none;
          transition: width 0.3s, height 0.3s, margin 0.3s,
            background-color 0.3s;
        }

        .buy-btn {
          width: 45%;
          cursor: pointer;
          font-weight: 900;
          font-size: 16px;
          color: rgb(77, 76, 76);
          height: 60px;
          margin-top: 160px;
          border-radius: 40px;
          background-color: rgb(255, 218, 165);
          border: none;
          transition: width 0.3s, height 0.3s, margin 0.3s,
            background-color 0.3s;
        }

        .buy-btn:hover {
          background: linear-gradient(
            to right,
            rgb(255, 218, 165),
            rgb(100, 253, 202)
          );
        }

        .cart-btn:hover {
          background: linear-gradient(
            to right,
            rgb(255, 218, 165),
            rgb(100, 253, 202)
          );
        }
      }
    }
  }

  .more-information {
    display: flex;
    justify-content: center;
    font-size: 16px;

    #description-wrapper {
      padding: 40px 60px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      #product-description {
        flex: 1 1 0%;

        #description-title {
          font-size: 24px;
          color: rgb(31, 31, 31);
        }

        #description-content {
          margin-left: 12px;
          line-height: 24px;
        }
      }

      #product-evaluate {
        width: 36%;
        font-size: 16px;
        margin-left: 80px;

        #evaluate-title {
          font-size: 24px;
          line-height: normal;
          color: rgb(31, 31, 31);
        }

        #evaluate-content {
          margin-left: 12px;
          line-height: 24px;
          font-size: 16px;
          display: flex;
          align-items: center;

          .star-wrapper {
            width: 100px;
            margin-right: 20px;
          }

          p {
            margin-right: 20px;
          }
        }

        #rating-distribution {
          margin-left: 12px;

          #rating-title {
            margin-bottom: 8px;
            font-size: 16px;
          }

          .rating-star {
            display: flex;
            align-items: center;

            .rating-frame {
              width: 320px;
              margin-left: 12px;
              height: 8px;
              border-radius: 40px;
              background-color: lightgray;
              overflow: hidden;
            }

            .rating-body {
              height: 100%;
              border-radius: 40px;
              background-color: rgb(80, 80, 80);
            }
          }
        }
      }
    }

    #review {
      background-color: antiquewhite;
      width: 100%;
      padding: 40px 60px;

      #review-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #review-title {
          font-size: 24px;
        }

        #review-filter {
          display: flex;
          #review-filter-title {
            margin-right: 8px;

            svg {
              width: 20px;
              height: 28px;
            }
          }

          svg {
            width: 28px;
            height: 28px;
          }
        }
      }

      .review-wrapper {
        padding: 12px 40px 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .evaluate-information {
          flex: 1 1 0%;
          margin-right: 20px;

          .star-wrapper {
            width: 100px;
            line-height: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .review-evaluate {
            font-size: 20px;
          }
        }

        .review-information {
          width: 200px;
          font-size: 12px;

          .review-date {
            display: flex;
            p {
              margin-left: 4px;
              color: rgb(143, 143, 143);
            }
          }

          .review-by {
            display: flex;
            p {
              margin-left: 4px;
              color: rgb(143, 143, 143);
            }
          }
        }
      }

      #review-pagination {
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: center;

        .pagination-option {
          cursor: pointer;
          width: 36px;
          height: 36px;
          background-color: rgb(216, 216, 216);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.3s;
        }

        :not(.pagination-option:last-child) {
          margin-right: 12px;
        }

        .pagination-option:hover {
          background-color: rgb(184, 184, 184);
        }

        :not(.pagination-option:last-child) {
          border-right: 1px solid rgb(180, 180, 180);
        }
      }
    }

    #suggest-product-frame {
      margin: 60px 60px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 760px;

      .image-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;

        #suggest-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      #suggest-product-wrapper {
        width: 80%;
        height: 80%;
        z-index: 1;
        border: 2px solid white;
        padding: 40px;

        #suggest-product-title {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          #title {
            color: white;
            font-size: 32px;
            font-weight: 700;
            margin: 0 24px;
          }

          .side-line {
            width: 20%;
            height: 2px;
            background-color: white;
          }
        }

        #suggest-product-group {
          position: relative;
          margin-top: 20px;

          .product-group-wrapper {
            height: 100%;
            display: "flex";
            align-items: "center";
            position: relative;

            .left-carousel-btn {
              position: absolute;
              display: flex;
              align-items: center;
              border: 1px solid rgb(81, 162, 255);
              padding: 20px;
              background-color: white;
              z-index: 1;
              cursor: pointer;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%);
            }
            .right-carousel-btn {
              position: absolute;
              display: flex;
              align-items: center;
              border: 1px solid rgb(81, 162, 255);
              padding: 20px;
              background-color: white;
              z-index: 1;
              cursor: pointer;
              right: 0;
              top: 50%;
              transform: translate(50%, -50%);
            }
          }

          .product-wrapper {
            width: 280px;
            margin: 0 40px;
            background-color: white;
            text-align: center;
            padding-bottom: 12px;
            border-radius: 4px;

            .price-wrapper {
              .origin-price {
                color: rgb(148, 148, 148);
                margin-top: 4px;
                display: flex;
                justify-content: center;
                font-size: 16px;
                text-decoration: line-through;
                display: flex;
              }

              .shoe-price {
                color: rgb(255, 65, 65);
                margin-top: 32px;
                display: flex;
                justify-content: center;
                font-size: 20px;
                display: flex;
              }

              .shoe-price-only {
                color: rgb(255, 65, 65);
                margin-top: 4px;
                display: flex;
                justify-content: center;
                font-size: 20px;
                display: flex;
              }
            }

            .product-image {
              width: 100%;
              height: 280px;
              object-fit: cover;
              cursor: pointer;
            }

            .product-name {
              cursor: pointer;
              width: 100%;
              font-size: 20px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              background: linear-gradient(
                to right,
                rgb(194, 52, 94),
                rgb(255, 180, 74)
              );
              color: transparent;
              -webkit-background-clip: text;
            }

            .product-name:hover {
              background: linear-gradient(
                to right,
                rgb(102, 52, 194),
                rgb(74, 255, 195)
              );
              color: transparent;
              -webkit-background-clip: text;
            }

            .star-wrapper {
              width: 100%;
              padding: 0 80px;
              display: flex;
              justify-content: center;
            }

            .product-price {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  #none-evaluate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    .login-btn {
      font-size: 28px;
      font-weight: 700;
      border-radius: 12px;
      background-color: antiquewhite;
      padding: 28px 100px;
      transition: background-color 1.5s;
    }

    .login-btn:hover {
    background-color: rgb(255, 232, 200);
    }
  }
}

@media (min-width: 768px) and (max-width: 1280px) {

  #confirm-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .confirm-background {
      background-color: black;
      width: 100%;
      height: 100%;
      opacity: 0.1;
    }

    .confirm-wrapper {
      position: relative;
      width: 408px;
      border-radius: 8px;
      background-color: white;
      padding: 40px 28px 20px 28px;
      position: fixed;
      align-items: center;

      .close-btn {
        cursor: pointer;
        position: absolute;
        width: 40px;
        border: none;
        font-size: 20px;
        right: 10px;
        top: 10px;
        background-color: white;
        padding: 4px;
        color: rgb(121, 121, 121);
        font-weight: 900;
        border-radius: 40px;
      }

      .close-btn:hover {
        background-color: rgb(211, 211, 211);
      }

      .confirm-title {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .confirm-group-btn {
        display: flex;
        justify-content: center;

        .confirm-btn {
          cursor: pointer;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 500;
          border: 1px solid rgb(223, 223, 223);
          padding: 12px 40px;
        }

        .confirm-btn:hover {
          background-color: rgb(223, 223, 223);
        }

        .cancel-btn {
          cursor: pointer;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 500;
          border: 1px solid rgb(223, 223, 223);
          padding: 12px 40px;
          margin-left: 40px;
        }

        .cancel-btn:hover {
          background-color: rgb(223, 223, 223);
        }
      }
    }
  }

  #product-detail {
    padding: 120px 40px;
    background-color: antiquewhite;

    #product-image {
      width: 100%;
      margin-right: 40px;

      #product-main-image {
        width: 100%;
        margin-bottom: 40px;
        border-radius: 12px;
      }

      #sub-images-group-wrapper {
        display: flex;
        justify-content: center;

        #sub-images-group {
          width: 100%;
          display: flex;
          justify-content: space-evenly;

          .product-sub-image {
            margin: 1px;
            width: 90%;
            transition: border 5s;
            border-radius: 4px;
          }
        }
      }
    }

    #product-statistics {
      margin-top: 40px;
      flex: 1 1 0%;
      border-radius: 12px;
      background: linear-gradient(
        to bottom,
        rgb(230, 208, 178),
        rgb(255, 201, 124)
      );
      padding: 40px;

      .price-wrapper {
        display: flex;
        align-items: center;

        .origin-price {
          color: rgb(148, 148, 148);
          margin-top: 4px;
          display: flex;
          justify-content: center;
          font-size: 20px;
          margin-right: 12px;
          text-decoration: line-through;
          display: flex;
        }

        .shoe-price {
          color: rgb(255, 65, 65);
          margin-top: 32px;
          display: flex;
          justify-content: center;
          font-size: 24px;
          display: flex;
        }

        .shoe-price-only {
          color: rgb(255, 65, 65);
          margin-top: 4px;
          display: flex;
          justify-content: center;
          font-size: 24px;
          display: flex;
        }
      }

      .product-name {
        font-size: 32px;
        font-weight: 500;
      }

      .star-wrapper {
        width: 200px;
        margin-bottom: 40px;
      }

      .product-price {
        font-size: 32px;
        font-weight: 700;
        color: rgb(255, 51, 51);
        margin-bottom: 40px;
      }

      .product-size-group {
        border-top: 1px solid black;
        display: flex;
        align-items: center;
        padding: 40px 0 20px 0;

        .size-choose {
          width: 60px;
          height: 60px;
          margin-right: 40px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          border-radius: 4px;
          background: linear-gradient(
            to bottom,
            rgb(177, 252, 202),
            rgb(42, 226, 103)
          );
        }

        .product-size {
          width: 60px;
          height: 60px;
          margin-right: 40px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          border-radius: 4px;
          background: linear-gradient(
            to bottom,
            rgb(231, 214, 188),
            rgb(243, 170, 68)
          );
        }

        .size-error {
          color: red;
          font-size: 16px;
        }
      }

      .product-quantity {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        margin-bottom: 40px;
      }

      .product-buy-quantity {
        display: flex;
        height: 60px;

        .fix-quantity-btn {
          width: 40px;
          height: 100%;
          background-color: antiquewhite;
          cursor: pointer;
          border: none;
        }

        .buy-quantity {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgb(255, 179, 73);
          width: 80px;
          height: 100%;
          cursor: pointer;
          background-color: antiquewhite;
        }
      }

      .buy-btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .cart-btn {
          width: 45%;
          cursor: pointer;
          font-weight: 900;
          font-size: 16px;
          color: rgb(77, 76, 76);
          height: 60px;
          margin-top: 160px;
          border-radius: 40px;
          background-color: rgb(255, 218, 165);
          border: none;
          transition: width 0.3s, height 0.3s, margin 0.3s,
            background-color 0.3s;
        }

        .buy-btn {
          width: 45%;
          cursor: pointer;
          font-weight: 900;
          font-size: 16px;
          color: rgb(77, 76, 76);
          height: 60px;
          margin-top: 160px;
          border-radius: 40px;
          background-color: rgb(255, 218, 165);
          border: none;
          transition: width 0.3s, height 0.3s, margin 0.3s,
            background-color 0.3s;
        }

        .buy-btn:hover {
          background: linear-gradient(
            to right,
            rgb(255, 218, 165),
            rgb(100, 253, 202)
          );
        }

        .cart-btn:hover {
          background: linear-gradient(
            to right,
            rgb(255, 218, 165),
            rgb(100, 253, 202)
          );
        }
      }
    }
  }

  .more-information {
    display: flex;
    justify-content: center;
    font-size: 16px;

    #description-wrapper {
      padding: 40px 20px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      #product-description {
        flex: 1 1 0%;

        #description-title {
          font-size: 32px;
          color: rgb(31, 31, 31);
        }

        #description-content {
          margin-left: 12px;
          font-size: 20px;
          line-height: 24px;
        }
      }

      #product-evaluate {
        width: 420px;
        font-size: 20px;
        margin-left: 80px;

        #evaluate-title {
          font-size: 32px;
          line-height: normal;
          color: rgb(31, 31, 31);
        }

        #evaluate-content {
          margin-left: 12px;
          line-height: 24px;
          font-size: 20px;
          display: flex;
          align-items: center;

          .star-wrapper {
            width: 100px;
            margin-right: 20px;
          }

          p {
            margin-right: 20px;
          }
        }

        #rating-distribution {
          margin-left: 12px;

          #rating-title {
            margin-bottom: 8px;
            font-size: 20px;
          }

          .rating-star {
            display: flex;
            align-items: center;

            .rating-frame {
              width: 320px;
              margin-left: 12px;
              height: 8px;
              border-radius: 40px;
              background-color: lightgray;
              overflow: hidden;
            }

            .rating-body {
              height: 100%;
              border-radius: 40px;
              background-color: rgb(80, 80, 80);
            }
          }
        }
      }
    }

    #review {
      background-color: antiquewhite;
      width: 100%;
      padding: 40px 60px;

      #review-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #review-title {
          font-size: 24px;
        }

        #review-filter {
          display: flex;
          #review-filter-title {
            margin-right: 8px;

            svg {
              width: 16px;
              height: 24px;
            }
          }

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }

      .review-wrapper {
        padding: 12px 0 32px;
        .evaluate-information {
          .star-wrapper {
            width: 100px;
            line-height: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .review-evaluate {
            font-size: 24px;
          }
        }

        .review-information {
          margin-top: 20px;
          font-size: 20px;

          .review-date {
            display: flex;
            p {
              margin-left: 4px;
              color: rgb(143, 143, 143);
            }
          }

          .review-by {
            display: flex;
            p {
              margin-left: 4px;
              color: rgb(143, 143, 143);
            }
          }
        }
      }

      #review-pagination {
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: center;

        .pagination-option {
          cursor: pointer;
          width: 36px;
          height: 36px;
          background-color: rgb(216, 216, 216);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.3s;
        }

        :not(.pagination-option:last-child) {
          margin-right: 12px;
        }

        .pagination-option:hover {
          background-color: rgb(184, 184, 184);
        }

        :not(.pagination-option:last-child) {
          border-right: 1px solid rgb(180, 180, 180);
        }
      }
    }

    #suggest-product-frame {
      margin: 60px 60px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 760px;

      .image-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;

        #suggest-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      #suggest-product-wrapper {
        width: 80%;
        height: 80%;
        z-index: 1;
        border: 2px solid white;
        padding: 40px;

        #suggest-product-title {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          #title {
            color: white;
            font-size: 32px;
            font-weight: 700;
            margin: 0 24px;
          }

          .side-line {
            width: 20%;
            height: 2px;
            background-color: white;
          }
        }

        #suggest-product-group {
          position: relative;
          margin-top: 20px;

          .product-group-wrapper {
            height: 100%;
            display: "flex";
            align-items: "center";
            position: relative;

            .left-carousel-btn {
              position: absolute;
              display: flex;
              align-items: center;
              border: 1px solid rgb(81, 162, 255);
              padding: 20px;
              background-color: white;
              z-index: 1;
              cursor: pointer;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%);
            }
            .right-carousel-btn {
              position: absolute;
              display: flex;
              align-items: center;
              border: 1px solid rgb(81, 162, 255);
              padding: 20px;
              background-color: white;
              z-index: 1;
              cursor: pointer;
              right: 0;
              top: 50%;
              transform: translate(50%, -50%);
            }
          }

          .product-wrapper {
            width: 280px;
            margin: 0 40px;
            background-color: white;
            text-align: center;
            padding-bottom: 12px;
            border-radius: 4px;
            .price-wrapper {
              .origin-price {
                color: rgb(148, 148, 148);
                margin-top: 4px;
                display: flex;
                justify-content: center;
                font-size: 16px;
                text-decoration: line-through;
                display: flex;
              }

              .shoe-price {
                color: rgb(255, 65, 65);
                margin-top: 32px;
                display: flex;
                justify-content: center;
                font-size: 20px;
                display: flex;
              }

              .shoe-price-only {
                color: rgb(255, 65, 65);
                margin-top: 4px;
                display: flex;
                justify-content: center;
                font-size: 20px;
                display: flex;
              }
            }

            .product-image {
              width: 100%;
              height: 280px;
              object-fit: cover;
              cursor: pointer;
            }

            .product-name {
              cursor: pointer;
              width: 100%;
              font-size: 20px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              background: linear-gradient(
                to right,
                rgb(194, 52, 94),
                rgb(255, 180, 74)
              );
              color: transparent;
              -webkit-background-clip: text;
            }

            .product-name:hover {
              background: linear-gradient(
                to right,
                rgb(102, 52, 194),
                rgb(74, 255, 195)
              );
              color: transparent;
              -webkit-background-clip: text;
            }

            .star-wrapper {
              width: 100%;
              padding: 0 80px;
              display: flex;
              justify-content: center;
            }

            .product-price {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  #none-evaluate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    .login-btn {
      font-size: 28px;
      font-weight: 700;
      border-radius: 12px;
      background-color: antiquewhite;
      padding: 28px 100px;
      transition: background-color 1.5s;
    }

    .login-btn:hover {
    background-color: rgb(255, 232, 200);
    }
  }
}

@media (max-width: 768px) {
  

  #confirm-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .confirm-background {
      background-color: black;
      width: 100%;
      height: 100%;
      opacity: 0.1;
    }

    .confirm-wrapper {
      position: relative;
      width: 408px;
      border-radius: 8px;
      background-color: white;
      padding: 40px 28px 20px 28px;
      position: fixed;
      align-items: center;

      .close-btn {
        cursor: pointer;
        position: absolute;
        width: 40px;
        border: none;
        font-size: 20px;
        right: 10px;
        top: 10px;
        background-color: white;
        padding: 4px;
        color: rgb(121, 121, 121);
        font-weight: 900;
        border-radius: 40px;
      }

      .close-btn:hover {
        background-color: rgb(211, 211, 211);
      }

      .confirm-title {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .confirm-group-btn {
        display: flex;
        justify-content: center;

        .confirm-btn {
          cursor: pointer;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 500;
          border: 1px solid rgb(223, 223, 223);
          padding: 12px 40px;
        }

        .confirm-btn:hover {
          background-color: rgb(223, 223, 223);
        }

        .cancel-btn {
          cursor: pointer;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 500;
          border: 1px solid rgb(223, 223, 223);
          padding: 12px 40px;
          margin-left: 40px;
        }

        .cancel-btn:hover {
          background-color: rgb(223, 223, 223);
        }
      }
    }
  }
  
  #product-detail {
    padding: 120px 40px;
    background-color: antiquewhite;

    #product-image {
      width: 100%;
      margin-right: 40px;

      #product-main-image {
        width: 100%;
        margin-bottom: 40px;
        border-radius: 12px;
      }

      #sub-images-group-wrapper {
        display: flex;
        justify-content: center;

        #sub-images-group {
          width: 100%;
          display: flex;
          justify-content: space-evenly;

          .product-sub-image {
            margin: 1px;
            width: 90%;
            transition: border 5s;
            border-radius: 4px;
          }
        }
      }
    }

    #product-statistics {
      margin-top: 40px;
      flex: 1 1 0%;
      border-radius: 12px;
      background: linear-gradient(
        to bottom,
        rgb(230, 208, 178),
        rgb(255, 201, 124)
      );
      padding: 40px;

      .price-wrapper {
        display: flex;
        align-items: center;

        .origin-price {
          color: rgb(148, 148, 148);
          margin-top: 4px;
          display: flex;
          justify-content: center;
          font-size: 20px;
          margin-right: 12px;
          text-decoration: line-through;
          display: flex;
        }

        .shoe-price {
          color: rgb(255, 65, 65);
          margin-top: 32px;
          display: flex;
          justify-content: center;
          font-size: 24px;
          display: flex;
        }

        .shoe-price-only {
          color: rgb(255, 65, 65);
          margin-top: 4px;
          display: flex;
          justify-content: center;
          font-size: 24px;
          display: flex;
        }
      }

      .product-name {
        font-size: 32px;
        font-weight: 500;
      }

      .star-wrapper {
        width: 200px;
        margin-bottom: 40px;
      }

      .product-price {
        font-size: 32px;
        font-weight: 700;
        color: rgb(255, 51, 51);
        margin-bottom: 40px;
      }

      .product-size-group {
        border-top: 1px solid black;
        display: flex;
        align-items: center;
        padding: 40px 0 20px 0;

        .size-choose {
          width: 60px;
          height: 60px;
          margin-right: 40px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          border-radius: 4px;
          background: linear-gradient(
            to bottom,
            rgb(177, 252, 202),
            rgb(42, 226, 103)
          );
        }

        .product-size {
          width: 60px;
          height: 60px;
          margin-right: 40px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          border-radius: 4px;
          background: linear-gradient(
            to bottom,
            rgb(231, 214, 188),
            rgb(243, 170, 68)
          );
        }

        .size-error {
          color: red;
          font-size: 16px;
        }
      }

      .product-quantity {
        font-size: 20px;
        display: flex;
        font-weight: 500;
        margin-bottom: 40px;
      }

      .product-buy-quantity {
        display: flex;
        height: 60px;

        .fix-quantity-btn {
          width: 40px;
          height: 100%;
          background-color: antiquewhite;
          cursor: pointer;
          border: none;
        }

        .buy-quantity {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgb(255, 179, 73);
          width: 80px;
          height: 100%;
          cursor: pointer;
          background-color: antiquewhite;
        }
      }

      .buy-btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .cart-btn {
          width: 45%;
          cursor: pointer;
          font-weight: 900;
          font-size: 16px;
          color: rgb(77, 76, 76);
          height: 60px;
          margin-top: 160px;
          border-radius: 40px;
          background-color: rgb(255, 218, 165);
          border: none;
          transition: width 0.3s, height 0.3s, margin 0.3s,
            background-color 0.3s;
        }

        .buy-btn {
          width: 45%;
          cursor: pointer;
          font-weight: 900;
          font-size: 16px;
          color: rgb(77, 76, 76);
          height: 60px;
          margin-top: 160px;
          border-radius: 40px;
          background-color: rgb(255, 218, 165);
          border: none;
          transition: width 0.3s, height 0.3s, margin 0.3s,
            background-color 0.3s;
        }

        .buy-btn:hover {
          background: linear-gradient(
            to right,
            rgb(255, 218, 165),
            rgb(100, 253, 202)
          );
        }

        .cart-btn:hover {
          background: linear-gradient(
            to right,
            rgb(255, 218, 165),
            rgb(100, 253, 202)
          );
        }
      }
    }
  }

  .more-information {
    display: flex;
    justify-content: center;
    font-size: 16px;

    #description-wrapper {
      padding: 40px 20px;
      width: 100%;

      #product-description {
        #description-title {
          font-size: 32px;
          color: rgb(31, 31, 31);
        }

        #description-content {
          margin-left: 12px;
          font-size: 20px;
          line-height: 24px;
        }
      }

      #product-evaluate {
        width: 440px;
        font-size: 20px;
        margin-top: 60px;

        #evaluate-title {
          font-size: 32px;
          line-height: normal;
          color: rgb(31, 31, 31);
        }

        #evaluate-content {
          margin-left: 12px;
          line-height: 24px;
          font-size: 20px;
          display: flex;
          align-items: center;

          .star-wrapper {
            width: 100px;
            margin-right: 20px;
          }

          p {
            margin-right: 20px;
          }
        }

        #rating-distribution {
          margin-left: 12px;

          #rating-title {
            margin-bottom: 8px;
            font-size: 20px;
          }

          .rating-star {
            display: flex;
            align-items: center;

            .rating-frame {
              width: 320px;
              margin-left: 12px;
              height: 8px;
              border-radius: 40px;
              background-color: lightgray;
              overflow: hidden;
            }

            .rating-body {
              height: 100%;
              border-radius: 40px;
              background-color: rgb(80, 80, 80);
            }
          }
        }
      }
    }

    #review {
      background-color: antiquewhite;
      width: 100%;
      padding: 20px;

      #review-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #review-title {
          font-size: 24px;
        }

        #review-filter {
          display: flex;
          #review-filter-title {
            margin-right: 8px;

            svg {
              width: 20px;
              height: 28px;
            }
          }

          svg {
            width: 28px;
            height: 28px;
          }
        }
      }

      .review-wrapper {
        padding: 12px 0 32px;
        .evaluate-information {
          .star-wrapper {
            width: 100px;
            line-height: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .review-evaluate {
            font-size: 24px;
          }
        }

        .review-information {
          margin-top: 20px;
          font-size: 20px;

          .review-date {
            display: flex;
            p {
              margin-left: 4px;
              color: rgb(143, 143, 143);
            }
          }

          .review-by {
            display: flex;
            p {
              margin-left: 4px;
              color: rgb(143, 143, 143);
            }
          }
        }
      }

      #review-pagination {
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: center;

        .pagination-option {
          cursor: pointer;
          width: 36px;
          height: 36px;
          background-color: rgb(216, 216, 216);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.3s;
        }

        :not(.pagination-option:last-child) {
          margin-right: 12px;
        }

        .pagination-option:hover {
          background-color: rgb(184, 184, 184);
        }

        :not(.pagination-option:last-child) {
          border-right: 1px solid rgb(180, 180, 180);
        }
      }
    }

    #suggest-product-frame {
      margin: 60px 60px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 760px;

      .image-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;

        #suggest-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      #suggest-product-wrapper {
        width: 80%;
        height: 80%;
        z-index: 1;
        border: 2px solid white;
        padding: 40px;

        #suggest-product-title {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          #title {
            color: white;
            font-size: 32px;
            font-weight: 700;
            margin: 0 24px;
          }

          .side-line {
            width: 20%;
            height: 2px;
            background-color: white;
          }
        }

        #suggest-product-group {
          position: relative;
          margin-top: 20px;

          .product-group-wrapper {
            height: 100%;
            display: "flex";
            align-items: "center";
            position: relative;

            .left-carousel-btn {
              position: absolute;
              display: flex;
              align-items: center;
              border: 1px solid rgb(81, 162, 255);
              padding: 20px;
              background-color: white;
              z-index: 1;
              cursor: pointer;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%);
            }
            .right-carousel-btn {
              position: absolute;
              display: flex;
              align-items: center;
              border: 1px solid rgb(81, 162, 255);
              padding: 20px;
              background-color: white;
              z-index: 1;
              cursor: pointer;
              right: 0;
              top: 50%;
              transform: translate(50%, -50%);
            }
          }

          .product-wrapper {
            width: 280px;
            margin: 0 40px;
            background-color: white;
            text-align: center;
            padding-bottom: 12px;
            border-radius: 4px;
            .price-wrapper {
              .origin-price {
                color: rgb(148, 148, 148);
                margin-top: 4px;
                display: flex;
                justify-content: center;
                font-size: 16px;
                text-decoration: line-through;
                display: flex;
              }

              .shoe-price {
                color: rgb(255, 65, 65);
                margin-top: 32px;
                display: flex;
                justify-content: center;
                font-size: 20px;
                display: flex;
              }

              .shoe-price-only {
                color: rgb(255, 65, 65);
                margin-top: 4px;
                display: flex;
                justify-content: center;
                font-size: 20px;
                display: flex;
              }
            }

            .product-image {
              width: 100%;
              height: 280px;
              object-fit: cover;
              cursor: pointer;
            }

            .product-name {
              cursor: pointer;
              width: 100%;
              font-size: 20px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              background: linear-gradient(
                to right,
                rgb(194, 52, 94),
                rgb(255, 180, 74)
              );
              color: transparent;
              -webkit-background-clip: text;
            }

            .product-name:hover {
              background: linear-gradient(
                to right,
                rgb(102, 52, 194),
                rgb(74, 255, 195)
              );
              color: transparent;
              -webkit-background-clip: text;
            }

            .star-wrapper {
              width: 100%;
              padding: 0 80px;
              display: flex;
              justify-content: center;
            }

            .product-price {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  
  #none-evaluate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    .login-btn {
      font-size: 28px;
      font-weight: 700;
      border-radius: 12px;
      background-color: antiquewhite;
      padding: 28px 100px;
      transition: background-color 1.5s;
    }

    .login-btn:hover {
    background-color: rgb(255, 232, 200);
    }
  }
}
